.account_container {
  padding: 0.25rem;

  display: flex;
  gap: 0.6rem;

  position: relative;

  border-radius: 3rem;

  cursor: pointer;

  @media (max-width: 1065.1px) {
    justify-content: center;

    margin: 1rem 0.8rem 0 0.8rem;
    padding: 0 0 0.8rem 0;

    justify-content: center;
    flex-direction: column;

    border-radius: 0;
    background: #ffffff;
    border-bottom: 0.8px solid #dbdbde;

    cursor: default;
  }

  transition: 0.3s;

  @media (min-width: 1065.1px) {
    &:hover {
      background: #f1f1f1;

      .account_menu {
        opacity: 1;
        visibility: visible;
      }
    }

    &:active {
      background-color: #e8e8e8;
    }
  }

  .account_data {
    display: flex;
    align-items: center;

    @media (max-width: 1065.1px) {
      padding: 0 0.65rem;

      justify-content: start;
      gap: 0.5rem;
    }

    .user {
      display: none;

      .name {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        font-size: 0.9rem;
        font-weight: 600;
        color: rgb(55, 53, 47);

        @media (max-width: 1065.1px) {
          font-size: 0.875rem;
        }

        .icon {
          font-size: 1rem;
        }
      }

      @media (max-width: 1065.1px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .icon {
    display: none;

    font-size: 1.5rem;

    @media (max-width: 1065.1px) {
      display: block;

      margin-left: auto;
    }

    transition: 0.2s;

    &.active {
      transform: rotate(180deg);
    }

    &.menu {
      font-size: 1.2rem;
      margin-left: 0;
    }
  }

  .account_menu {
    display: none;

    @media (min-width: 1065.1px) {
      min-width: 220px;

      position: absolute;
      left: 50%;
      top: 56px;
      transform: translateX(-50%);

      display: block;

      opacity: 0;
      visibility: hidden;

      background: #ffffff;
      border: 1px solid #dbdbde;
      border-radius: 0.75rem;
      -webkit-box-shadow: 0px 3px 5px rgb(0 0 0 / 4%);
      box-shadow: 0px 3px 5px rgb(0 0 0 / 4%);
    }

    @media (max-width: 1065.1px) {
      &.active {
        display: block;
      }
    }

    transition: 0.2s;

    .menu_list {
      padding: 0.3rem 0;

      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      border-bottom: 1px solid #dbdbde;

      @media (max-width: 1065.1px) {
        border: none;
      }

      .item {
        padding: 0.6rem 1.2rem;

        @media (max-width: 1065.1px) {
          padding: 0.6rem 0.65rem;
        }

        display: flex;
        align-items: center;
        gap: 0.5rem;

        text-decoration: none;

        font-size: 0.875rem;
        font-weight: 400;
        color: #1d1d1f;

        transition: 0.2s;

        @media (max-width: 1065.1px) {
          border-radius: 0.4rem;
        }

        &:hover {
          background: #f6f7f89a;
        }

        &:active {
          background: #ecedee;
        }

        &.active {
          background: #f5f5f7;
        }

        &.email {
          &:hover,
          &:active,
          &.active {
            background-color: transparent;
          }

          @media (max-width: 1065.1px) {
            display: none;
          }
        }
      }
    }

    .button {
      padding: 0.6rem 1.2rem;
      margin: 0.3rem 0;

      @media (max-width: 1065.1px) {
        padding: 0.6rem 0.65rem;
      }

      display: flex;
      align-items: center;
      gap: 0.5rem;

      text-decoration: none;
      font-size: 0.875rem;
      font-weight: 400;

      color: #ff4747;

      background-color: transparent;

      transition: 0.2s;

      @media (max-width: 1065.1px) {
        border-radius: 0.4rem;
        margin: 0;
      }

      &:hover {
        background-color: #ff62621a;
      }

      &:active {
        background-color: #ff62625d;
      }

      .load {
        font-size: 1.2rem;

        animation: rotateAnimation 1s infinite linear;

        @keyframes rotateAnimation {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
