.page_wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1065px) {
    padding: 0.85rem;
  }

  .content {
    width: 100%;
    height: 100%;

    padding-right: 0.85rem;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 1.85rem;

    @media (max-width: 1065px) {
      padding-right: 0;
      gap: 1.15rem;
    }

    .title {
      padding-top: 1.25rem;

      font-size: 1.75rem;
      font-weight: 500;
      color: #1d1d1f;

      @media (max-width: 1065px) {
        padding-top: 0.85rem;

        text-align: center;
      }
    }

    .button_wrapper {
      @media (max-width: 1065px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.85rem;
      }
    }

    .images {
      column-count: 4;
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-width: 33%;
      -webkit-column-width: 33%;
      -moz-column-width: 33%;
      column-gap: 0.25rem;

      @media (max-width: 1150px) {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
      }

      @media (max-width: 785px) {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
      }

      @media (max-width: 380px) {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-width: 100%;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
      }

      .image_wrapper {
        width: 100%;

        break-inside: avoid;

        .image {
          max-width: 100%;
          height: 100%;

          border-radius: 0.25rem;

          object-fit: cover;
        }
      }
    }
  }
}
