.layout_wrapper {
  width: 100vw;
  height: 100vh;

  padding-top: 4.85rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.page_wrapper {
  width: 100%;
  height: 100%;

  .profile_wrapper {
    width: 100%;
    height: 100%;

    padding: 0.85rem;

    .user {
      width: 100%;

      max-width: 500px;

      display: flex;
      flex-direction: column;
      gap: 0.35rem;

      @media (max-width: 535px) {
        gap: 0.15rem;
      }

      .data {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        gap: 0.75rem;

        @media (max-width: 535px) {
          align-items: center;
          flex-direction: column;

          gap: 1.85rem;
        }

        .logo_wrapper {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 0.55rem;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          margin-right: auto;

          .name {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            font-size: 1.35rem;
            font-weight: 600;
            color: #1d1d1f;

            @media (max-width: 535px) {
              align-items: start;

              font-size: 1.25rem;
            }
          }

          .email {
            font-size: 0.875rem;
            font-weight: 500;
            color: #1d1d1f;

            @media (max-width: 535px) {
              font-size: 0.845rem;
            }
          }
        }
      }

      .bio {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        min-width: 100%;
        max-height: 600px;

        margin-top: 1.05rem;

        resize: none;

        background: transparent;
        border: 0;
        outline: 0;

        font-size: 0.875rem;
        font-family: sans-serif;
        font-weight: 500;
        color: #86868b;

        @media (max-width: 535px) {
          font-size: 0.845rem;
        }
      }
    }
  }
}
