.page_wrapper {
  width: 100%;

  max-width: 1420px;
  min-height: 100vh;

  padding: 0.5rem;
  margin: 0 auto;

  .profile_wrapper {
    width: 100%;
    height: 100%;

    padding: 0.85rem;

    .user {
      width: 100%;
      height: 850px;

      max-width: 750px;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .image_wrapper {
        width: 120px;
        height: 120px;

        background-color: #dbdbde;
        border-radius: 50%;

        overflow: hidden;

        .img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }

      .data {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .name {
          font-size: 1.35rem;
          font-weight: 600;
          color: rgb(55, 53, 47);
        }

        .email {
          font-size: 0.875rem;
          font-weight: 500;
          color: rgb(55, 53, 47);
        }

        .bio {
          width: 100%;
          height: 100%;
          max-width: 100%;
          min-width: 100%;
          max-height: 500px;

          margin-top: 1.05rem;

          resize: none;

          background: transparent;
          border: 0;
          outline: 0;

          font-size: 0.9rem;
          font-family: sans-serif;
          font-weight: 500;
          color: rgb(55, 53, 47);
        }
      }
    }
  }
}
