.page_wrapper {
  width: 100%;
  
  max-width: 1420px;
  min-height: 100vh;

  padding: 0.5rem;
  margin: 0 auto;

  .posts_container {
    width: 100%;
    height: 100%;

    margin: 2rem auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
